<div class="row">
<div class="col-md-8 col-md-offset-2 grid2">

	<h1><b>Como usar a plataforma</b></h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/NAf_1lPtLlQ" frameborder="0" allowfullscreen></iframe>
</iframe>
</iframe>
</div>
<br>
<br>
</div>