<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>

<%= simple_form_for(:sessions, :url =>sessions_path) do |f| %>
 <%= f.input :email %>
 <%= f.input :password %>
 <%= f.button :submit %>
<% end %>